annotated-types==0.7.0
blinker==1.9.0
brotli==1.2.0
cffi==2.0.0
click==8.3.2
cssselect2==0.9.0
Flask==3.0.2
fonttools==4.62.1
html5lib==1.1
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.0
pillow==12.2.0
pluggy==1.6.0
pycparser==3.0
pydantic==2.6.3
pydantic_core==2.16.3
pydyf==0.12.1
pyphen==0.17.2
pytest==8.0.2
six==1.17.0
svgwrite==1.4.3
tinycss2==1.5.1
typing_extensions==4.15.0
weasyprint==61.1
webencodings==0.5.1
Werkzeug==3.1.8
zopfli==0.4.1
